@(product: Form[CreateProductForm],category: Seq[ProductCategory],brands: Seq[Brand])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.ProductController.addProductHandle()) {
    @helper.CSRF.formField
    @inputText(product("name"))
    @inputText(product("description"))
    @inputText(product("price"))
    @inputText(product("img"))

    <select name="categoryId" id="categoryId">
    @for(cat <- category){
        <option value="@cat.id">@cat.name</option>
    }
    </select>

    <select name="brandId" id="brandId">
    @for(bra <- brands){
        <option value="@bra.id">@bra.name</option>
    }
    </select>

    <div class="buttons">
        <input type="submit" value="Add Product"/>
    </div>
}
