@(product: Form[UpdateProductForm],category: Seq[ProductCategory],brands: Seq[Brand])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.ProductController.updateProductHandle()) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@product("id").value" type="hidden" />
    @inputText(product("name"))
    @inputText(product("description"))
    @inputText(product("price"))
    @inputText(product("img"))

    <select name="categoryId" id="categoryId">
    @for(cat <- category){
        @if(cat.id.toString==product("categoryId").value.getOrElse(0)) {
            <option value="@cat.id" selected>@cat.name</option>
        }else{
            <option value="@cat.id">@cat.name</option>
        }

    }
    </select>

    <select name="brandId" id="brandId">
    @for(bra <- brands){
        @if(bra.id.toString == product("brandId").value.getOrElse((0))) {
            <option value="@bra.id" selected>@bra.name</option>
        } else {
            <option value="@bra.id">@bra.name</option>
        }
    }
    </select>


    <div class="buttons">
        <input type="submit" value="Update Product"/>
    </div>
}
<a href="@controllers.routes.ProductController.deleteProduct(product("id").value.get.toInt)">Delete</a>
