@(product: Form[UpdateProductForm],category: Seq[ProductCategory],brands: Seq[Brand])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.ProductController.updateProductHandle()) {
    <ul>

    @helper.CSRF.formField
    <input name="id" id="id" value="@product("id").value" type="hidden" />
    <li>
        @inputText(product("name"))
    </li>
    <li>
        @inputText(product("description"))
    </li>
    <li>
        @inputText(product("price"))
    </li>
    <li>
        @inputText(product("img"))
    </li>

    <li>
        <p>Kategoria</p>
        <select name="categoryId" id="categoryId">
        @for(cat <- category){
            @if(cat.id.toString==product("categoryId").value.getOrElse(0)) {
                <option value="@cat.id" selected>@cat.name</option>
            }else{
                <option value="@cat.id">@cat.name</option>
            }

        }
        </select>
    </li>

<li>
    <p>Marka</p>
    <select name="brandId" id="brandId">
    @for(bra <- brands){
        @if(bra.id.toString == product("brandId").value.getOrElse((0))) {
            <option value="@bra.id" selected>@bra.name</option>
        } else {
            <option value="@bra.id">@bra.name</option>
        }
    }
    </select>
</li>

    <div class="buttons">
        <input type="submit" value="Update Product"/>
    </div>
</ul>

}
<a href="@controllers.routes.ProductController.deleteProduct(product("id").value.get.toInt)">Delete</a>
